.content {
  grid-area: c;
  background-color: blanchedalmond;
  position: relative;
}

.userPhoto img{
  max-height: 75px;
  max-width: 75px;
  overflow: hidden;

}

.selectedPage{
  font-weight: bold;

}