.header {
  grid-area: h;
  background-color: #222;

}

.header::after{
  position: absolute;
  content: "Pekingese social network";
  color: white;
  top: 28px;
  right: 40%;
  font-size: 30px;
  font-weight: 600;
}

.header img {
  width: 60px;
  margin-left: 10px;
}