

.avatar{
  max-height: 150px;
  max-width: 150px;
  position: absolute;

}
.avainfo{
   margin-left: 20px;
  margin-bottom: 50px;
 }

.status{
    background: green;
}

.input{
    background: red;

}

.mainPhoto{
    max-width: 200px;
}

.contact{
    padding-left: 10px;
}