.app-wrapper{
display: grid;
width: 1200px;
margin: 0 auto;
padding-top: 20px;
grid-template-areas:
"h h "
"n c";
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
 grid-gap: 10px;
}

.app-wrapper-content {
 grid-area: c;
 background-color: #f7df40;
 color: #000;
 position: relative;
}




